# api
SECRET_KEY=laksdjflaksjdf

# postgres database
POSTGRES_SERVER=db:5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=techgo
PGDATA=/var/lib/postgresql/data

# pgadmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=secret
PGADMIN_LISTEN_PORT=80

# host info
HOST_URL=https://example.com